{# This is how we can re-use HTML #}
{% extends 'base.html.twig' %}

{# This is how we overwrite #}
{% block title %}Resurgence{% endblock %}

{% block body %}
{% include('navbar.html.twig') %}

<h1 class="header">Hello World</h1>

<body>Your lucky number is: {{ number }}<body>
{% endblock %}