{% extends 'base.html.twig' %}

{% block title %}Create profile{% endblock %}

{% block body %}
{% include('navbar.html.twig') %}

<div class="form-custom-wrapper">
    <form class="form-custom" action="{{ path('profile_create') }}" method="POST">
        <h2 class="form-custom-heading text-center">Create profile</h2>
        <p class="form-custom-heading text-center"><i>For a new WoW Classic character</i><p>
        
        <label class="" for="name">Character Name</label>        
        <input class="form-control" type="text" name="name" required/>

        <select name="race">
                <option value="human" selected="selected">Human</option>
                <option value="dwarf">Dwarf</option>
                <option value="night_elf">Night Elf</option>
                <option value="gnome">Gnome</option>
        </select>

        <select name="class">
                <option value="druid">Druid</option>
                <option value="hunter">Hunter</option>
                <option value="mage">Mage</option>
                <option value="paladin">Paladin</option>
                <option value="priest">Priest</option>
                <option value="rogue">Rogue</option>
                <option value="warlock">Warlock</option>
                <option v￼ ￼

alue="warrior">Warrior</option>
        </select>
    </form>
</div>
{% endblock %}