{% extends 'base.html.twig' %}

{% block title %}Edit user{% endblock %}

{% block body %}
{% include('navbar.html.twig') %}

<div class="form-custom-wrapper">
    <form class="form-custom" action="{{ path('user_edit') }}" method="POST">
        <h2 class="form-custom-heading text-center">Change Password <br />
            For user: {{ user.username }}
        </h2>

        <input class="form-control" type="password" name="password"  placeholder="New password" autofocus required />
        <input class="form-control" type="password" name="confirm_password" placeholder="Confirm password" required />

        <button class="btn btn-lg btn-dark btn-block" type="submit">Submit</button>

        {% if error %}
            <h4 class="text-center text-danger">{{ error }}</h4>
        {% endif %}  
    </form>
</div>
{% endblock %}
